{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- header-end -->

    <!-- about_area_start -->

    <div class="moderators_area">
        <div class="container">
            <div class="modarator_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="modarator_title">
                        <h3>Developed By</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-3">
                    <div class="single_modarators">
                        <div class="moderator_thumb">
                            <img src="{%static 'img/team/1.jpg'%}" alt="">
                            <div class="author_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="moderator_name">
                            <h3>Srajan Gupta</h3>
                            <p>Backend Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_modarators">
                        <div class="moderator_thumb">
                            <img src="{%static 'img/team/2.jpg'%}" alt="">
                            <div class="author_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="moderator_name">
                            <h3>Divyanshu Dubey</h3>
                            <p>Backend Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3">
                    <div class="single_modarators">
                        <div class="moderator_thumb">
                            <img src="{%static 'img/team/3.jpg'%}" alt="">
                            <div class="author_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="moderator_name">
                            <h3>Aditya Dube</h3>
                            <p>Frontend Developer</p>
                        </div>
                    </div>
                </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>

  

{%endblock%}