{%extends 'base.html'%}
{%load static %}
    <!-- header-end -->

    <!-- welcome_techload_start -->
    {%block content%}
    <div class="welcome_protomedia">
        <div class="container">
            
            
                    <div style= "text-align:center"> 
                    <h1><Strong> Welcome to TechLoad</Strong></h1>
                     <h3>Where Technology Meets!</h3>
                     </div>
               
                       
                </div>
            </div>
        </div>
    </div>
    <!-- welcome_techload_end -->

    <!-- photographi_area_start -->

    <!-- photographi_area_end -->

    <!-- photography_slider_area_start -->
    <div class="photography_slider_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="photoslider_active owl-carousel">
                        <div class="single_photography">
                            <img src="{%static 'img/photography/single-1.jpg'%}" alt="">
                            <div class="photo_title">
                                <h4>Artificial Intelligence</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{%static 'img/photography/single-2.png'%}" alt="">
                            <div class="photo_title">
                                <h4>Internet of Things</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{%static 'img/photography/single-3.jpg'%}" alt="">
                            <div class="photo_title">
                                <h4>Robotics</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{%static 'img/photography/single-4.jpg'%}" alt="">
                            <div class="photo_title">
                                <h4>Science</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{%static 'img/photography/single-1.jpg'%}" alt="">
                            <div class="photo_title">
                                <h4>Artificial Intelligence</h4>
                            </div>
                        </div>
                        <div class="single_photography">
                            <img src="{%static 'img/photography/single-2.png'%}" alt="">
                            <div class="photo_title">
                                <h4>Internet of Things</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- photography_slider_area_end -->

    <!-- most_recent_blog_start -->
    <div class="most_recent_blog">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-33">
                        <h3>Most Recent</h3>
                    </div>
                </div>
                <div class="col-xl-8 col-md-8">
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="{%static 'img/most_recent/2.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="#">Artificial Intelligence I 24 August 2019</a></p>
                                    <h3><a href="#">
                                            Security and <br>
                                            Artificial Intelligence
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="{%static 'img/most_recent/1.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="#">Artificial Intelligence I 24 August 2019</a></p>
                                    <h3><a href="#">
                                            Benefits and Risks of Artificial <br>
                                            Intelligence
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="{%static 'img/most_recent/3.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="#">Artificial Intelligence I 24 August 2019</a></p>
                                    <h3><a href="#">
                                           Fake it till you <br>
                                            Make it!
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="{%static 'img/most_recent/4.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="#">Artificial Intelligence I 24 August 2019</a></p>
                                    <h3><a href="#">
                                            Five myths about  <br>
                                            Artificial Intelligence
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="{%static 'img/most_recent/5.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="#">Artificial Intelligence I 24 August 2019</a></p>
                                    <h3><a href="#">
                                            Artificial Intelligence is a great <br>
                                            Detector Tool
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="#">
                                        <img src="{%static 'img/most_recent/6.jpg'%}" alt="">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="#">Artificial Intelligence I 24 August 2019</a></p>
                                    <h3><a href="#">
                                            Artificial Intelligence will make you <br> Smarter
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="btn_area text-center">
                                <a href="#" class="boxed-btn">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="blog_right_side">
                        <div class="section_title mb-33">
                            
                        </div>
                        <div class="add_here text-center">
                            
                        </div>
                        <div class="section_title mb-33">
                        
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>


 {%endblock%}